{{ define "Error500"}}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erro 500</title>
    <style>
      body { 
        font-family: Arial, sans-serif; 
        background: #1c1c1c; 
        text-align: center; 
        padding: 50px; 
      }

      h1 { 
        color: #c00; 
      }

      p { 
        color: #fff; 
      
      }
    </style>
  </head>
  <body>
    <h1>Erro 500</h1>

    <p>Ocorreu um problema interno no servidor.</p>
    <p>Por favor, tente novamente mais tarde.</p>
  </body>
</html>
{{end}}
