{{ define "Index"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banco de dados</title>
    <style>
      body {
        background-color: #1c1c1c;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>Informações do Banco de Dados</h1>
    <p>Versão: {{.Data.ServerVersion}}</p>
    <p>Máx conexões: {{.Data.MaxConnections}}</p>
    <p>Conexões abertas: {{.Data.OpenedConnections}}</p>
  </body>
</html>
{{end}}
